.git
.gitignore
.github
*.pyc
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.so
.env
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.swp
*.swo
celerybeat-schedule
celerybeat.pid
staticfiles/
media/
db.sqlite3