aiohttp==3.8.6
aiohttp-retry==2.8.3
aiosignal==1.3.1
amqp==5.1.1
anyjson==0.3.3
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
billiard==3.6.4.0
celery==5.2.7
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.0
cryptography==42.0.7
defusedxml==0.7.1
Django==3.2.12
django-allauth==0.54.0
django-celery-beat==2.5.0
django-cors-headers==4.3.1
django-mailgun-mime==0.1.7
django-rest-auth==0.9.5
django-timezone-field==6.0.1
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
flower==2.0.1
frozenlist==1.4.0
humanize==4.9.0
idna==3.4
inflection==0.5.1
kombu==5.2.4
multidict==6.0.4
oauthlib==3.2.2
packaging==23.2
phonenumbers==8.13.22
prometheus_client==0.20.0
prompt-toolkit==3.0.39
pycparser==2.22
PyJWT==1.7.1
python-crontab==3.0.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2023.3.post1
PyYAML==6.0.1
redis==4.6.0
requests==2.31.0
requests-oauthlib==2.0.0
six==1.16.0
sqlparse==0.4.4
tornado==6.4
twilio==8.10.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.7
vine==5.0.0
wcwidth==0.2.8
yarl==1.9.2
